<div class="row">
  
  <div class="col-lg-12">
     <div class="portlet-body">
        <div class="row mbm">
          <div class="col-lg-12">
          	<a id="gotoManage" data-ng-if="showCase.tabHeading == 'My Leads'"
          		data-ng-hide="userRole == 10  || userRole == 8 || userRole == 9 || userRole == 11 || userRole == 13"
          	 	data-target="#reassign-dealer-modal" data-toggle="modal" 
				class="btn btn-primary" style="float: right; margin: 7px;">
				Reassign Dealer </a>
            <div class="table-responsive" >
              <table id="my_leads" datatable="ng" data-dt-options="showCase.dtOptions" data-dt-column-defs="showCase.dtColumnDefs" 
              class="table table-hover table-striped table-bordered table-advanced tablesorter display tb-sticky-header">
              	<thead>
                  <tr>
                  	<th  data-ng-if="userRole == 7 || userRole == 5 || userRole == 6" style="width: 3%; padding: 10px; background: #dc6767">
                      <input type="checkbox" class="checkall" ng-model="showCase.selectedAll" ng-click="showCase.selectAll()"/>
                    </th>
                    <th style="background-color: #dc6767;color:white;" width="6%">#</th>
                    <th style="background-color: #dc6767;color:white;" width="14%">Contact Name&Contact No</th>
                    <!-- <th style="background-color: #dc6767;color:white;" width="14%">Email</th> -->
                   <!--  <th style="background-color: #dc6767;color:white;" width="8%">Contact No</th> -->
                    <th style="background-color: #dc6767;color:white;" width="2%">PinCode</th>
                    <th data-ng-if="showCase.tabHeading == 'Follow-up Leads'" style="background-color: #dc6767;color:white;" width="4%">FollowUp Time</th>
                    <th style="background-color: #dc6767;color:white;" width="12%">Product</th>
                    <th style="background-color: #dc6767;color:white;" width="12%">State</th>
                    <th data-ng-if="showCase.tabHeading == 'My Leads' || showCase.tabHeading == 'Open Leads' || showCase.tabHeading == 'Follow-up Leads'" style="background-color: #dc6767;color:white;" width="4%">Disp1</th>
                    <th data-ng-if="showCase.tabHeading == 'My Leads' || showCase.tabHeading == 'Follow-up Leads' || showCase.tabHeading == 'Open Leads'" style="background-color: #dc6767;color:white;" width="4%">Disp2</th>
                     <th style="background-color: #dc6767;color:white;" width="2%">Status</th>
                     <th style="background-color: #dc6767;color:white;" width="2%">Brand</th>
                    <th data-ng-if="showCase.tabHeading == 'Escalated Leads'" style="background-color: #dc6767;color:white;" width="4%">Escalated To</th>
                    <th data-ng-if="userRole != 9 && userRole != 5 && userRole != 11 && userRole != 13 && userRole != 7"style="background-color: #dc6767;color:white;" width="4%">Dealer</th>
                    <th data-ng-if="userRole == 9 || userRole == 5 || userRole == 11 || userRole == 13 || userRole == 7 || userRole == 10 || userRole == 6"style="background-color: #dc6767;color:white;" width="4%">Actions</th>
                  </tr>
                  </thead>
                  
          		  <tbody>
                  <tr data-ng-repeat="order in showCase.orders">
                  	<td  data-ng-if="userRole == 6 || userRole == 7 || userRole == 5"><label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                    <input type="checkbox" data-ng-model="order.selected"><i></i></label></td>
                    <td>{{ order.leadNumber }}</td>
                    <td>{{ order.contactName }}<br>
                    {{ order.contactNumber }}</td>
                    <td>{{ order.pincode }}</td>
                    <td data-ng-if="showCase.tabHeading == 'Follow-up Leads'">{{ order.followUpDate | date:"yyyy/MM/dd',' h:mma"}}</td>
                    <td>{{ order.product }}</td>
                    <td>{{ order.state }}</td>
                    <td data-ng-if="showCase.tabHeading == 'My Leads' || showCase.tabHeading == 'Follow-up Leads' || showCase.tabHeading == 'Open Leads'">{{ order.disposition1 }}</td>
                    <td data-ng-if="showCase.tabHeading == 'My Leads' || showCase.tabHeading == 'Follow-up Leads' || showCase.tabHeading == 'Open Leads'">{{ order.disposition2 }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.lms}}</td>
                    <td data-ng-if="showCase.tabHeading == 'Escalated Leads'">{{ order.escalatedTo }}</td>
                    <td data-ng-if="userRole != 9 && userRole != 5 && userRole != 11 && userRole != 13 && userRole != 7">{{ order.dealerName}}</td>
                    <td data-ng-if="userRole == 9 || userRole == 5 || userRole == 11 || userRole == 13 || userRole == 7 ||  userRole == 10 || userRole == 6">
                      <a class="btn btn-xs btn-default"  data-ng-click="editLeadTab(order.id)" ><i class="fa fa-eye"></i> Edit</a>
                    </td>
                  </tr>
                  </tbody>	        
              </table>
            </div>
           </div>
          </div>
      </div>      
  </div>        
</div>
<div id="reassign-dealer-modal" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
            <h4 id="modal-default-label" class="modal-title">Reassign Dealer</h4>
          </div>
			<div class="modal-body" style="  float: left; width: 100%; height: 160px;">
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4"><label for="inputPinCodes" class="control-label">Select Dealer </label></div>
						<div class="col-md-8 myselect-container"><select class="form-control" data-ng-model="dealer" onmousedown="if(this.options.length>6){this.size=6;}" onchange='this.size=0;' onblur="this.size=0;">
							<option data-ng-repeat="dealer in dealerList" value="{{dealer}}">{{dealer.name}}</option>
						</select></div>
					</div>
				</div>
			</div>
		  <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" data-ng-click="showCase.reassignDealer(dealer)" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


<style>
#myselect-container {
	position: relative;
}

#myselect-container select {
	position: absolute;
}
</style>