<div class="row" data-ng-controller="OrdersTableCtrl as showCase">
<table class="table table-hover table-advanced table-bordered">
      <thead class="primary">
        <tr>
          <th style="width:5%;">#</th>
          <th>Date</th>
          <th>Status</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="data in showCase.history">
          <td>{{data.number}}</td>
          <td>{{data.date}}</td>
          <td>{{data.status}}</td>
          <td>{{data.reason}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
<style>
.page-content {
	min-height:300px;
}
</style>  