<div class="row">
          <div class="col-lg-12">
            <div class="panel panel-red">
              <div class="panel-heading">Create User</div>
              <div class="panel-body pan">
                <form action="#" class="horizontal-form">
                  <div class="form-body pal">
                    <h3>Personal</h3>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-success">
                          <label for="inputFirstName" class="control-label">Name <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-user"></i>
                            <input id="inputFirstName" type="text" placeholder="Name" class="form-control"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputEmail" class="control-label">Email <span class='require'>*</span></label>
                          <div class="input-icon"><i class="fa fa-envelope"></i>
                            <input type="text" placeholder="Email Address" class="form-control"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="selGender" class="control-label">Gender <span class='require'>*</span></label>
                          <select id="selGender" class="form-control">
                            <option value="">Male</option>
                            <option value="">Female</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputBirthday" class="control-label">Birthday</label>
                          <input id="inputBirthday" type="text" placeholder="dd/mm/yyyy" class="form-control"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPhone" class="control-label">Contact Number</label>
                          <input id="inputPhone" type="text" placeholder="" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputBirthday" class="control-label">Role</label>
                          <input id="inputBirthday" type="text" placeholder="Role" class="form-control"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPhone" class="control-label">Region</label>
                          <input id="inputPhone" type="text" placeholder="Region" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <h3>Address</h3>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="inputStreet" class="control-label">Street <span class='require'>*</span></label>
                          <input id="inputStreet" type="text" placeholder="" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputFirstName" class="control-label">District</label>
                          <input id="inputDistrict" type="text" placeholder="" class="form-control"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputCity" class="control-label">City <span class='require'>*</span></label>
                          <input id="inputCity" type="text" placeholder="" class="form-control"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPostCode" class="control-label">Post Code</label>
                          <input id="inputPostCode" type="text" placeholder="" class="form-control"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="selCountry" class="control-label">Country</label>
                          <select id="selCountry" class="form-control">
                            <option value="">Select a Country</option>
                            <option value="">United States</option>
                            <option value="">England</option>
                            <option value="">France</option>
                            <option value="">Spain</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                    <button type="button" class="btn btn-green">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>